div#Title {
	style=text-align:center;
	width:600px;
	height:50px;
	background-color:#58ACFA;
	}
div#description {
	style=text-align:center;
	width:600px;
	height:400px;
	background-color:#0B0B61;
	}
div#piedpage {
	style=text-align:center;
	width:600px;
	height:50px;
	background-color:#58ACFA;
	}
