div#titre {
	width:600px;
	height:50px;
	background-color:#81F7D8;
	}
div#description {
	width:600px;
	height:400px;
	background-color:#CEE3F6;
	}
div#piedpage {
	style=text-align:center;
	width:600px;
	height:50px;
	background-color:#81F7D8;
	}
